/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : 24 May, 2017, 5:41:45 PM
    Author     : user2
*/

#page-wrapper {
    padding-bottom: 30px;
}

.r3_counter_box .fa {
    margin-right: 0px;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    float: none!important;
    margin-top: 0px;
    font-size: 30px;
    margin-right: 0!important;
}

.r3_counter_box h5 {
    margin: 18px 0 0px 0;
    color: #534d4d;
    font-weight: 600;
    font-size: 31px;
}

.r3_counter_box {
    min-height: 78px;
    background: #ffffff;
    padding: 20px 20px;
    margin-bottom: 20px;
}

.stats span {
    color: #222;
    font-size: 17px;
    text-transform: uppercase;
}

i.user1 {
    background: #18a89c;
}

.cal1 .clndr .clndr-controls {
    background-color: #18a89c;
}

nav.top1.navbar.navbar-default.navbar-static-top {
    background: #ffffff;
}

.navbar {
    min-height: 65px;
}

.cal1 .clndr .clndr-controls {
    background-color: rgb(24, 168, 156)!important;
}

.cal1 .clndr .clndr-table tr .day.today:hover,
.cal1 .clndr .clndr-table tr .day.today {
    background: rgb(24, 168, 156)!important;
}

.cal1 .clndr .clndr-table tr .day.today:after {
    border-top: 6px solid rgb(24, 168, 156)!important;
}

#page-wrapper .cal1 .clndr .clndr-table .header-days .header-day {
    vertical-align: middle;
    text-align: center;
    color: rgb(24, 168, 156);
}

.graphs {
    min-height: 728px;
}

.copy p,
.copy_layout p {
    font-size: 0.85em;
    color: #555;
    padding: 15px;
    background: #ffffff;
}

.copy {
    padding: 0;
    padding-left: 250px;
    background: #000;
}

.navbar .navbar-nav li a .badge {
    background: #ffffff;
    border: 2px solid #18a89c;
    position: absolute;
    top: 13px;
    right: 30px;
    font-size: 11px;
    line-height: 8px;
    padding: 11px 18px;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    min-width: 0;
    font-weight: 500;
    color: #18a89c;
}

.navbar .navbar-nav li a:hover .badge {
    background: #18a89c;
    border-color: #18a89c;
    color: #ffffff;
}

.btn-primary a:hover {
    background: #18a89c;
    border-color: #18a89c;
    color: #ffffff;
}

#page-wrapper h2 {
    font-size: 22px;
    margin-top: 0;
    color: #0750a4;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 600;
}

h2 .btn {
    margin-top: -5px;
    background-color: #ffffff!important;
    color: #18a89c;
    border-radius: 25px;
    padding: 6px 17px;
    text-transform: uppercase;
}

.main-header {
    padding: 20px 15px;
    background: #18a89c;
}

div.dataTables_wrapper div.dataTables_filter {
    margin-top: -27px;
}

table td img {
    border: #000 solid 1px;
    max-width: 50px;
    height: auto;
}

table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
    vertical-align: middle;
}

thead {
    background: #000;
}

.table>thead>tr>th {
    color: #ffffff;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    opacity: 1;
    top: 15px;
    right: 15px;
}

tfoot {
    background: #b1b5b5;
}

.table>tfoot>tr>th {
    color: #1b1b1b;
}

div.dataTables_wrapper div.dataTables_info {
    font-size: 12px;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
    margin-top: -20px;
    font-size: 12px;
}

div.dataTables_wrapper div.dataTables_paginate a {
    padding: 5px 10px;
    display: inline-block;
    background: #eee;
    border-right: 1px solid #ddd;
}

.clndr-table thead {
    background: transparent;
}

.table-hover>tbody>tr.danger:hover>td,
.table-hover>tbody>tr.danger:hover>th,
.table-hover>tbody>tr:hover>.danger,
.table-hover>tbody>tr>td.danger:hover,
.table-hover>tbody>tr>th.danger:hover {
    background-color: #d8d8d8;
}

.table-hover>tbody>tr.danger>td,
.table-hover>tbody>tr.danger>th,
.table-hover>tbody>tr>.danger,
.table-hover>tbody>tr>td.danger,
.table-hover>tbody>tr>th.danger {
    background-color: #d8d8d8;
}

.table>tbody>tr.warning>td,
.table>tbody>tr.warning>th,
.table>tbody>tr>td.warning,
.table>tbody>tr>th.warning,
.table>tfoot>tr.warning>td,
.table>tfoot>tr.warning>th,
.table>tfoot>tr>td.warning,
.table>tfoot>tr>th.warning,
.table>thead>tr.warning>td,
.table>thead>tr.warning>th,
.table>thead>tr>td.warning,
.table>thead>tr>th.warning {
    background-color: #fafafa;
}

.table>tbody>tr.active>td,
.table>tbody>tr.active>th,
.table>tbody>tr>td.active,
.table>tbody>tr>th.active,
.table>tfoot>tr.active>td,
.table>tfoot>tr.active>th,
.table>tfoot>tr>td.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>thead>tr.active>th,
.table>thead>tr>td.active,
.table>thead>tr>th.active {
    background-color: #ffffff;
}

.table-hover>tbody>tr.active:hover>td,
.table-hover>tbody>tr.active:hover>th,
.table-hover>tbody>tr:hover>.active,
.table-hover>tbody>tr>td.active:hover,
.table-hover>tbody>tr>th.active:hover {
    background-color: #ffffff;
}

.table-hover>tbody>tr.warning:hover>td,
.table-hover>tbody>tr.warning:hover>th,
.table-hover>tbody>tr:hover>.warning,
.table-hover>tbody>tr>td.warning:hover,
.table-hover>tbody>tr>th.warning:hover {
    background-color: #fafafa;
}

td input[type="text"],
td input[type="email"],
td input[type="password"],
td input[type="date"],
td select,
td textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    color: #000;
    border: 1px solid #dddddd;
    width: 100%;
    height: 45px;
    padding: 0 16px;
}

td input[type="text"]:focus,
td input[type="email"]:focus,
td input[type="password"]:focus,
td input[type="date"]:focus {
    border-bottom: 1px solid #18a89c;
    outline: none;
}

.sidebar li a.active {
    background: #18a89c;
    color: #fff;
}

.table-hover>tbody>tr.success:hover>td,
.table-hover>tbody>tr.success:hover>th,
.table-hover>tbody>tr:hover>.success,
.table-hover>tbody>tr>td.success:hover,
.table-hover>tbody>tr>th.success:hover {
    background-color: #ffffff;
}

.table-hover>tbody>tr.success>td,
.table-hover>tbody>tr.success>th,
.table-hover>tbody>tr>.success,
.table-hover>tbody>tr>td.success,
.table-hover>tbody>tr>th.success {
    background-color: #ffffff;
}

.iconsetadmin {
    font-size: 30px!important;
}

.iconsetadmin div {
    display: inline-block!important;
}

.iconsetadmin input[type="radio"] {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.iconsetadmin input[type="radio"]:checked~label {
    color: #ffffff;
    background: #000000;
    border-radius: 50%;
    font-size: 20px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 37px;
}

.cke_reset {
    width: 100%!important;
}

@media (max-width: 991px) {
    .copy {
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .sidebar {
        margin-top: 75px;
    }
}